name: Build Windows
on:
  push:
    branches:
      - run-actions
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write

jobs:
  configure-build-and-package-ubuntu:
    runs-on: windows-2025
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile Tests
        run: |
          cd tests
          gcc -std=c11 test_main.c munit.c test_util.c ../mymalloc.c -o test -DTEST -DMUNIT_TEST_NAME_LEN=60
        shell: bash

      - name: Run Tests
        run: |
          cd tests
          ./test
